# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
tipo-variaveis/.vscode/settings.json
sistema-smart-tv/.vscode/settings.json
docs/allclasses-index.html
docs/allpackages-index.html
docs/Calculadora.html
docs/comentarios.html
docs/element-list
docs/help-doc.html
docs/index-all.html
docs/index.html
docs/jquery-ui.overrides.css
docs/member-search-index.js
docs/module-search-index.js
docs/overview-tree.html
docs/package-search-index.js
docs/package-summary.html
docs/package-tree.html
docs/script.js
docs/search.js
docs/stylesheet.css
docs/tag-search-index.js
docs/type-search-index.js
docs/legal/ADDITIONAL_LICENSE_INFO
docs/legal/ASSEMBLY_EXCEPTION
docs/legal/jquery.md
docs/legal/jqueryUI.md
docs/legal/LICENSE
docs/resources/glass.png
docs/resources/x.png
docs/script-dir/jquery-3.5.1.min.js
docs/script-dir/jquery-ui.min.css
docs/script-dir/jquery-ui.min.js
docs/script-dir/jquery-ui.structure.min.css
docs/script-dir/images/ui-bg_glass_55_fbf9ee_1x400.png
docs/script-dir/images/ui-bg_glass_65_dadada_1x400.png
docs/script-dir/images/ui-bg_glass_75_dadada_1x400.png
docs/script-dir/images/ui-bg_glass_75_e6e6e6_1x400.png
docs/script-dir/images/ui-bg_glass_95_fef1ec_1x400.png
docs/script-dir/images/ui-bg_highlight-soft_75_cccccc_1x100.png
docs/script-dir/images/ui-icons_2e83ff_256x240.png
docs/script-dir/images/ui-icons_222222_256x240.png
docs/script-dir/images/ui-icons_454545_256x240.png
docs/script-dir/images/ui-icons_888888_256x240.png
docs/script-dir/images/ui-icons_cd0a0a_256x240.png
java-terminal/.vscode/settings.json
java-terminal/.vscode/launch.json
